[Unit]
Description=Apache Web Server
Requires=apache-httpd-server-setup.service
After=network.target remote-fs.target nss-lookup.target apache-httpd-server-setup.service

[Service]
Type=forking
PIDFile=/var/run/httpd/httpd.pid
ExecStart=/usr/bin/apachectl start
ExecStop=/usr/bin/apachectl graceful-stop
ExecReload=/usr/bin/apachectl graceful
PrivateTmp=true
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
