[Unit]
Description=Run openvswitch-setup (once)
Requires=local-fs.target network-online.target openvswitch-create-links-one-node.service
After=network-online.target openvswitch-create-links-one-node.service

[Service]
Type=oneshot
ExecStart=/usr/share/openstack/openvswitch-setup
Restart=no

[Install]
WantedBy=multi-user.target
