[Unit]
Description=Neutron OVS cleanup
Wants=openstack-neutron-setup.service
After=network-online.target openstack-neutron-setup.service

[Service]
Type=simple
User=neutron
ConditionFileIsExecutable=/usr/bin/neutron-ovs-cleanup
ExecStart=/usr/bin/neutron-ovs-cleanup \
  --log-file /var/log/neutron/ovs-cleanup.log \
  --config-file /etc/neutron/neutron.conf --verbose

[Install]
WantedBy=multi-user.target
