[Unit]
Description=Run openstack-neutron-setup (once)
Requires=openstack-keystone-setup.service openstack-neutron-network-configuration-one-node.service postgres-server.service
After=openstack-keystone-setup.service openstack-neutron-network-configuration-one-node.service postgres-server.service

[Service]
Type=oneshot
ExecStart=/usr/share/openstack/openstack-neutron-setup
Restart=no

[Install]
WantedBy=multi-user.target
