[Unit]
Description=Database-access support for Compute nodes (nova-conductor)
After=syslog.target network.target libvirtd.service
Requires=libvirtd.service

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-conductor

[Install]
WantedBy=multi-user.target
