[Unit]
Description=Configure LVM Backends for Cinder
Wants=openstack-cinder-setup.service openstack-cinder-api.service openstack-cinder-volume.service
After=openstack-keystone-setup.service openstack-cinder-setup.service openstack-cinder-api.service openstack-cinder-volume.service

[Service]
Type=oneshot
ExecStart=/usr/share/openstack/openstack-cinder-configure-backends
Restart=no

[Install]
WantedBy=multi-user.target
