[Unit]
Description=Neutron Api Server
Requires=openvswitch.service
After=syslog.target network.target openvswitch.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-server

[Install]
WantedBy=multi-user.target
