[Unit]
Description=Open vSwitch Daemon
Requires=network-online.target openvswitch-db-server.service openvswitch-initialize-db.service
After=network-online.target openvswitch-db-server.service openvswitch-initialize-db.service

[Service]
Type=forking
ExecStart=/usr/sbin/ovs-vswitchd --pidfile --detach

[Install]
WantedBy=multi-user.target
